<!DOCTYPE html>
  <html>

    <%- include('includes/head.ejs') %>

    <body>

        <%- include('includes/nav.ejs') %>

        <main class="container">
            <h1>Clases</h1>
            <ul>
            <% for (let clase of listaClases){ %>
                <li><%= clase%></li>
            <% } %>
            </ul>
        </main>

        <%- include('includes/footer.ejs') %>

     <script type="text/javascript" src="/js/materialize.min.js"></script>

    </body>
  </html>