<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col 16 s12">
                <h5 class="white-text"></h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            @Ángel Flores Bermúdez | A01067735. Nice
        </div>
    </div>
</footer>