<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Clases</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="/clases">Todas Las Clases</a>
            </li>
            <li>
                <a href="/clases/nueva-clase">Nueva Clase</a>
            </li>
        </ul>
    </div>
</nav>
