<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Fate</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/users/login">Iniciar Sesión</a></li>
            <li><a href="/clases">Todas Las Clases</a></li>
            <% if(isLoggedIn) { %>
                <li><a href="/clases/nueva-clase">Nueva Clase</a></li>
            <% } %>
            
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if(isLoggedIn) { %>
                <li><a href="/users/logout">Cerrar Sesión</a></li>
            <% } %>      
        </ul>
    </div>
</nav>
